.comments-container{
  display: flex;
  flex-direction: column;
  align-items: center;

  .write-comment{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 20px;
  }

  .send-comment{
    border: .8px solid var(--text-color);

      svg{
        fill: var(--icon-color);
      }
  }

  .view-comments{
    margin-top: 20px;
    width: 68%;
    display: flex;

     &__user{
       border-radius: 50%;
     }

    &__info{
      margin-left: 15px;
    }

    .comment-date{
      margin-left: 10px;
      color: #636363;
    }

  }

  textarea{
    width: 90%;
    height: 35px;
    resize: none;
    border-radius: 30px;
    padding-left: 10px;
  }

  button{
    width: 35px;
    height: 35px;
    background: none;
    border: .8px solid #000000;
    border-radius: 100%;
  }
}
