.category-link-active{
  color: var(--popular-color);

  svg{
    fill: var(--popular-color);
  }
}

.category-link-not-active{
  color: var(--text-color);

  svg{
    fill: var(--icon-color);
  }
}

.category-link-active, .category-link-not-active{
  cursor: pointer;
  font-size: 36px;
  font-weight: bold;

  span{
    margin-left: 8px;
  }
}

